@charset "UTF-8";

body{
    background-color: white;
    color: black;
}
h2, h3, p{
    text-indent: 10px;
}
h1{
    font-size: 20pt;
}
h2{
    font-size: 15pt;
}
p{
    font-size: 13pt;
}
h2{
    color: red;
}
input#cNumUser{
    width: 100px;
}
input.btn_submit{
    margin-left: 10px;
}
input#cNumUser{
    margin-left: 5px;
}